# 项目排除路径
/cloud-consul-consume-80/target/
/cloud-consul-provider-payment8003/target/
/cloud-consul-provider-payment-8004/target/
/cloud-eureka-server7001/target/
/cloud-eureka-server7002/target/
/cloud-payment-8001/target/
/cloud-provider-payment8002/target/
/cloud-消费-80/target/