# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\翔龙的学习环境\我的java学习\我的SpringCloud微服务框架学习\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
